-  function tosrt(s) { if(typeof(s) !='undefined') return moment( parseInt(s.toString().trim()) ).format('DD/MM/YYYY HH:mm:ss').toString(); else return s;};
table.table.table-hover.table-bordered(table-layout='auto' style='widht:100%')
   thead
     tr
       th MeetingID
       th StartTime
       th EndTime
       th Action
   each recording, i in recordings
     tr
       td #{recording.meetingID}
       td #{tosrt(recording.startTime)}
       td #{tosrt(recording.endTime)}
       td(style='width:1%; white-space:nowrap;')
         a.btn.btn-primary(href='/play/#{recording.recordID}/default' style='padding: 4px;margin-right:5px; padding-right:2px;padding-left:8px; border-radius:4px;')
           i.fa.fa-play(title='PRESENTATION')
           span.sr-only PLAY PRESENTATION
       