table.table.table-hover.table-bordered
   thead
     tr
       th Name
       th Action
   each meeting, i in meetings
     tr
       td #{meeting.meetingName}
       td
         a.i.fa.fa-info(href='/meeting/#{meeting.meetingID}')
         a.i.fa.fa-trash(href='/meetingdelete/#{meeting.meetingID}')

