table.table.table-hover.table-bordered
   thead
     tr
       th Id/Name
       th Type
       th Action
   each meeting, i in meetings
     tr
       td #{meeting.meetingID} / #{meeting.meetingName}
       td #{meeting.meetingID}
       td
         a.i.fa.fa-info(href='/meeting/#{meeting.meetingID}')

