extends ../layout

block content
  h1 Meteo Briefing Box
  h2 #{LOCATION}
  hr
<<<<<<< HEAD
  h3 Recordings
  p
    include ../partials/recording
  h3 Meetings
  p
    include ../partials/meeting

=======
  h3 Meetings
  p
    include ../partials/meeting
  h3 Recordings
  p
    include ../partials/recording
>>>>>>> developing
